<div class="splash">
  <div class="title">
    <h1>Budget App</h1>
  </div>  
  <div class="button">
    <a href="/users/sign_in">LOG IN</a>
  </div>
  <div class="button">
    <a href="/users/sign_up">SIGN UP</a>
  </div>
</div>