<style>


.container{
  text-align:center;
  padding-top: 30dvh
}

.container h1{
  color: #434b54;
  margin:10px 0;
}

a{
  text-decoration:none;
  background: #3778c2;
  border:1px solid #3778c2;
  color: white;
  padding:5px
}

a:hover{
  background: #5fb523;
}
</style>

<div class="container">
<h1>Budget App</h1>
<div>
  <a href="/users/sign_in">LOG IN</a>
  <a href="/users/sign_up">SIGN UP</a>
</div>
</div>