/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* stylelint-disable no-descending-specificity */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  color: var(--text);
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: var(--main);
  background-size: cover;
  background-position: left bottom;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--white);
  margin-right: 10px;
  float: right;
}

.logo img {
  margin-top: 10px;
  height: 30px;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--main);
  overflow: hidden;
  max-height: 0;
  top: 50px;
  transition: max-height 0.5s ease-out;
}

.menu a {
  display: block;
  padding: 25px;
  color: var(--text);
}

.menu a:hover {
  background-color: var(--second);
  color: var(--white);
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: left;
  padding: 20px 20px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.second-menu {
  display: none;
}

.profile {
  text-align: center;
  color: var(--white);
  margin: 5px;
}

.profile > img {
  width: 100px;
  border: 2px dashed var(--white);
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
}

.home {
  background-color: rgb(235, 229, 229);
  height: 100vh;
}

.home > .categ > .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categ > .cards > .card {
  background: var(--white);
  border: 1px solid silver;
  padding: 5px;
  width: 42vw;
  margin: 15px;
}

.categ > .cards > .card > img {
  width: 100%;
}

.categ .categ-date {
  color: silver;
  font-size: small;
}

.trade > .header,
.categ > .header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid silver;
  height: 45px;
}

.trade > .header > p:first-child {
  color: silver;
}

.trade > .header > p:last-child {
  font-weight: bold;
}

.trade > .cards > .card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--white);
  padding: 5px 10px 5px 5px;
  margin: 15px;
}

.trade > .cards > .card > .left {
  width: 20vw;
}

.trade > .cards > .card > .right {
  width: 70vw;
}

.trade > .cards > .card > .right > .trade-date {
  font-size: 10pt;
  color: silver;
}

.trade > .cards > .card > .right > .sub-right {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px;
}

.sub-right p:first-child {
  color: silver;
}

.sub-right p:last-child {
  font-weight: bold;
}
